.process-tree-roots{}
.leaf-node::after {
  display: none;
}
.process-tree-node{
  position: relative;
  padding:6px 10px;
  background:rgba(203,221,238,1);
  border-radius:2px;
  color:#333;
  display:inline-block;
  cursor: pointer;
  min-width:80px;
  text-align:center;
  font-size: 12px;
  line-height: 1.8em;
  vertical-align: middle;
  min-height:20px;
}